*{
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}
#map{
	position: relative;
	margin: 0;
	padding: 0;
}
div.background {
  top: -50%;
  left: -50%;
  width: 10%;
  height: 10%;
}

#sidebar {
	line-height: 1.5;
	position: fixed;
	width: 250px;
	background: #1a1a19; /*#212422 #0f0f0f */ 
	border: 4px solid #424242;
	border-radius: 10px;
	left: 10px;
	top: 10px;
	-moz-transition: all 1000ms;
	-webkit-transition: all 1000ms;
	-transition: all 1000ms;
	z-index: 1000;

}

#sidebar.active {
	left: -264px;
}

#sidebar_arrow {
	position: relative;
	display: block;
	fill: #424242;
	-moz-transition: 780ms;
	-webkit-transition: 780ms;
	-transition: 780ms;
}
#sidebar_arrow.active {
	transform: rotate(180deg);
}

#sidebar .toggle-btn {

	position: absolute;
	left: 270px;
	top: 6px;
	background: #212422;
	padding: 10px;
	border-radius: 5px;
	cursor: pointer;
	-moz-transition: 500ms;
	-webkit-transition: 500ms;
	-transition: 500ms;

}

#sidebar .toggle-btn:hover {background: #424242;}/*#d93b3b*/
#sidebar .toggle-btn:hover #sidebar_arrow{fill: #1a1a19;}
#sidebar .toggle-btn:hover div {background: #fafafa;}

#sidebar .toggle-btn span {
	display: block;
	width: 25px;
	height: 4px;
	margin: 4px 0;
}

.but {
	opacity: 0;
}
@media only screen and (max-width: 962px) {
	body {
			position: relative;
     	width: 100%;
     	margin: 0 auto; 
   }
   #sidebar{
   		position: fixed;
   		display: block;   		
   }
   #operation{
   	position: fixed;
   	display: block;
   	text-align: right;
   	margin: 10px;
   	top: 55px;
   	left: 264px;
   	transition: 1000ms;
    }

		#operation.active{
   	left: -10px;
    }

   .but {
   	opacity: 1;
	  position: relative;
   	display: block;
   	height: 35px;
   	width: 34px;
	  text-align: center;
	  display: block;
	  padding-top: 5px;
	  border-radius: 5px;
	  cursor: pointer;
	  background-color: #212422;
	  color: #424242;
	  font-family: sans-serif;
	  margin: 10px;
	  transition: 300ms;
	  font-size: 26px;
	  }
	  
	  .but:hover{
	  background-color: #424242;
	  color: #212422;
	 } 
}